<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <img src="{{url_for('static', filename='imgs/logo.png')}}" width="300px" class="center">
    
    <h1 class="instruc" style="text-align:center"> Instrucciones </h1>
    
    <div>
      <h2>Aquí se encuentra la credenciales para poder acceder a la aplicación: </h2>
    </div>
    <br>
    
    <h5>Copie el ID del usuario y peguelo en la casilla ID de la aplicación: </h5>
    <div>
      <h2 id="id_user">{{datos.id}}</h2>
    </div>
    <div class="parent">
      <div class="child">
        <button class="k2-copy-button" id="id_button"> Copiar ID </button>
      </div>
    </div>
    <br>
    
    <h5>Copie la clave de usuario y peguelo en la casilla clave de la aplicación: </h5>
    
    <div>
      <h2 id="refresh_token">{{datos.refresh_token}}</h2>
    </div>
    <div>
      <button class="k2-copy-button" id="refresh_button"> Copiar clave </button>
    </div>

    <script>
      function copy_refresh_token() {
          const copyText = document.getElementById("refresh_token").textContent;
          const textArea = document.createElement('textarea');
          textArea.textContent = copyText;
          document.body.append(textArea);
          textArea.select();
          document.execCommand("copy");
          refresh_button.innerText = "Password copiada!";
          textArea.remove();
      }
      function copy_id_user(event) {
        const copyText = document.getElementById("id_user").textContent;
        const textArea = document.createElement('textarea');
        textArea.textContent = copyText;
        document.body.append(textArea);
        textArea.select();
        document.execCommand("copy");
        id_button.innerText = "ID copiada!";
        textArea.remove();
      } 
    
      document.getElementById('refresh_button').addEventListener('click', copy_refresh_token);  
      document.getElementById('id_button').addEventListener('click', copy_id_user);
    </script>
    <!--<script src="{{url_for('static', filename='js/main.js')}}"></script>-->

  </body>


</html>